figure {
	float: left;
	display: table;
	background: #f8f8f8;
	margin: 5px 10px;
	border: 1px solid #ccc;
	border-bottom: 0;
	padding: 0.4em;
}
figcaption {
	background: #f8f8f8;
	display: table-caption;
	caption-side: bottom;
	font-size: 0.8em;
	padding: 0.6em 0.4em;
	border: 1px solid #ccc;
	border-top: 0;
}
img {
	width: 300px;
}
.pp {
	clear: both;
}
