.all {
	display: table;
}
.part {
	display: table-cell;
	vertical-align: top;
}
.parent {
	display: table;
	outline: 1px solid black;
}
.caption {
	display: table-caption;
	caption-side: bottom;
	overflow-wrap: anywhere;
	font-size: 3;
	padding: 15px;
	height: 20vh;
	overflow: hidden;
}
.caption:hover {
	height: 100%;
}
.image {
	height: 20vh;
}

@media (max-width: 768px) {
	.parent {
		display: flex;
	}
	.image {
		width: 40vw;
	}
	.part {
		display: block;
	}
	.caption:hover {
		height: 20vh;
		overflow-y: scroll;
	}
}
