h1 {
	text-align: center;
}
.animal {
	height: 100vh;
	border-bottom: 1px solid black;
}

figure.dog,
figure.cat,
figure.bird {
	/* display: inline-block; */
	overflow: hidden; /* 画像外の部分のコンテンツを非表示にする */
	display: table;

	outline: 1px solid #ccc;
	float: left;
}
figcaption {
	display: table-caption;
	caption-side: bottom;
	height: 20vh;
	margin: 10px;
	overflow-wrap: anywhere;
	overflow: hidden; /* 画像外の部分のコンテンツを非表示にする */
}
img {
	height: 30vh;
}
/* 
.br {
	text-align: center;
	height: 15vh;
	overflow: hidden;
	max-width: 100%;
}
*/
