.border {
	border: 2px solid blue;
	margin-bottom: 20px;
	opacity: 0.8;
}
.left {
	float: left;
	width: 100px;
	height: 100px;
	background-color: yellow;
}
.right {
	float: left;
	width: 200px;
	height: 200px;
	background-color: red;
}
.bottom {
	width: 350px;
	height: 30px;
	background-color: green;
}
.clear {
	clear: both;
	height: 10px;
	background-color: lightgreen;
}
.clearfix::after {
	content: "aaaaaaaaa";
	display: block;
	clear: both;
}
